html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* main */
.container {
  max-width: 1150px;
  margin: 0 auto;
  /* border: 1px solid red; */
  /* height: 100px; */
  /* box-sizing: border-box; */
}
body {
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}
.padding {
  padding: 70px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.header {
  background: #5385c1;
  /* height: 120px; */
  padding: 40px 0 20px 0;
}
a {
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
.nav a {
  font-size: 20px;
  margin-left: 12px;
}
.logo h1 {
  font-size: 22px;
}
.logo {
  float: left;
}
.nav {
  float: right;
}
.nav a:hover {
  color: blanchedalmond;
}
.heading {
  text-align: center;
  background: #5385c1;
  padding: 150px 0;
  color: #ffffff;
}
h2 {
  font-size: 44px;
  font-weight: 100;
}
p {
  color: #a8c0df;
}
.col-1-3 {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding: 0 24px;
  font-weight: 300;
}

.center {
  text-align: center;
}
h3 {
  font-size: 24px;
  color: #5385c1;
  font-weight: 300;
}
.col-1-3 p {
  font-size: 16px;
  margin: 24px 0;
  color: #bdbdbd;
}
.btn {
  margin-top: 40px;
  padding: 10px 18px;
  background: #5385c1;
  border: 1px solid #0f6de0;
}
/* section 3 */
.sec3 {
  background: #5385c1;
  clear: both;
}
h2 {
  color: #ffffff;
  font-weight: 100;
}

/* .inner {
  padding-top: 50px;
} */
.center p {
  margin-bottom: 60px;
}
.box {
  width: 21%;
  float: left;
  height: auto;
  padding: 40px 20px;
  border: 1px solid #7ea3d1;
  text-align: center;
  margin-right: 60px;
  box-sizing: border-box;
}
.box:last-child {
  margin-right: 0;
}
.image-round img {
  width: 90%;
  border-radius: 50%;
}

h4 {
  color: #ffffff;
  font-size: 22px;
  padding-top: 24px;
}
/* section 4 */
.col-1-2 {
  width: 50%;
  /* float: left; */
  /* padding: 0 20px; */
  box-sizing: border-box;
}
.sec4 p {
  color: #bdbdbd;
  font-weight: 300;
}
.sec4 h2 {
  color: #5385c1;
  /* padding: 40px 0; */
}

.col-1-2 h3 {
  padding: 24px 0;
}
.col-1-2 p {
  padding-bottom: 30px;
}
.right {
  float: right;
  padding-left: 35px;
}
.left {
  float: left;
  padding-right: 35px;
}
img {
  width: 100%;
}
/* footer */
.footer,
.footer a {
  color: #bdbdbd;
  font-size: 14px;
}
.footer {
  padding: 40px 0;
  float: left;
}
.fab {
  margin: 16px;
  font-size: 16px;
  color: #0f6de0;
}
.icon {
  float: right;
  padding: 40px 0;
}
